:root {
  --color-background: #fcfcfc;
  --color-surface: #fff;
  --color-border: #e8e8e8;
}

body {
  font-family: monospace, sans-serif;
  margin: 0;
  background-color: var(--color-background);
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1rem;
  margin-block: 8px;
}

article.card {
  --confetti-dimentions: 10px 20px;
  --confetti-padding: 20px;
  --confetti-amount: 50;

  position: relative;
  height: 400px;
  width: calc(100vw - 300px);
  margin-inline: auto;
  margin-top: 100px;
  padding: 16px;
  border: 1px solid var(--color-border);
  border-radius: 6px;
  background-image: paint(confetti);
  background-color: var(--color-surface);
  box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.1);
}

article.card > ._inner {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}